.sidebar-chanels {
  background-color: #19171d;
  height: 100vh;
  overflow-y: scroll;
  padding-left: 30px;
  padding-top: 20px;
  width: 300px;
  border-top: 1px solid rgb(43, 42, 47);
}

.channel {
  display: flex;
  align-items: center;
  margin: 5px;
}

Hash {
  width: 200px;
}
