* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  background-color: #1a1d21;
}

.discussion {
  min-width: 100vw;
  margin-bottom: 20px;
  border-top: 1px solid rgb(43, 42, 47);
}
