.message-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  display: flex;
  gap: 10px;
}

img {
  width: 38px;
  height: 38px;
  border-radius: 8px;
}

.name-and-time {
  display: flex;
  gap: 20px;
}

.name-and-time h5 {
  color: grey;
}

p {
  color: #a8becd;
}
